.grid {
  display: flex;
  border: 1px solid;
  flex-wrap: wrap;
  width: 140px;
  height: 140px;
}

.grid div {
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-color: gainsboro;
}

.playerRed {
  background-color: red;
  border-radius: 10px;
}

.playerBlack {
  background-color: black;
  border-radius: 10px;
}